* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #fcd0d9;
}

.container {
  width: 80%;
  margin: 30px auto;
}

table {
  margin-top: 20px;
}

th,
tr,
td {
  color: white;
  background-color: #f4a8b3;
}

.nomor,
.aksi {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .container {
    width: 1720%;
  }
  table {
    width: 100%;
  }
}
